In [1]:
import pandas as pd
import numpy as np
import glob
import time
import datetime
import pathlib

In [2]:
def isnumber(x):
        try:
            float(x)
            return True
        except:
            return False

In [3]:
def income_statement(symbol):
    start_time = time.time()
    csv_file = glob.glob("../data/Historical Financial Statements\*\year\Income Statement\*_{}_*".format(symbol))[-1] #.format("NLOK"))[-1]
    df = pd.read_csv(csv_file)
    # df = df[df['date'].notna()]#fillna(method='ffill')
    df = df[0:].iloc[::-1]#.dropna()
    df_bs = df
    #region Pandas data manipulation
    df_bs['Quarter & Year'] = df_bs['period']+" "+(df_bs['date'].astype(str).str[0:4])#((df_bs['date'].astype(str).str[0:4].astype(int))-1).astype(str)

    latest_year = list((df_bs['date'].astype(str).str[0:4]))[0]
    earliest_year = list((df_bs['date'].astype(str).str[0:4]))[-1]

    df_bs = df_bs.drop([ 'Unnamed: 0','date',
        'symbol',
        'fillingDate','period','link'],axis=1)

    df_bs.columns = [
        'Date & Time Filing Accepted',
        'Revenue (Sales)',
        'Cost of Revenue (Sales)',
        'Gross Profit (Income)',
        'Gross Profit (Income) Ratio',
        'Research and Development (R&D) Expenses',
        'Sales, General and Administrative (SG&A) Expenses',
        'Selling and Marketing (S&M) Expenses',
        'Other Expenses',
        'Operating Expenses',
        'Cost and Expenses',
        'Interest Expense',
        'Depreciation and Amortization (D&A)',
        'EBITDA',
        'EBITDA Ratio',
        'Operating Income',
        'Operating Income Ratio',
        'Total Other Income Expenses (Net)',
        'Income Before Tax',
        'Income Before Tax Ratio',
        'Income Tax Expense',
        'Net Income',
        'Net Income Ratio',
        'EPS',
        'EPS Diluted',
        'Weighted Average Shares Outstanding',
        'Weighted Average Shares Outstanding (Diluted)',
        'SEC Filing', 'Quarter & Year'
                    ]
    # for col in df_bs.columns:
    #     if len(df_bs[col].unique()) == 1:
    #         df_bs.drop(col,inplace=True,axis=1)

    cols = [ 'Quarter & Year', 'Revenue (Sales)',
        'Cost of Revenue (Sales)',
        'Gross Profit (Income)',
        'Gross Profit (Income) Ratio',
        'Research and Development (R&D) Expenses',
        'Sales, General and Administrative (SG&A) Expenses',
        'Other Expenses',
        'Operating Expenses',
        'Cost and Expenses',
        'Interest Expense',
        'Depreciation and Amortization (D&A)',
        'EBITDA',
        'EBITDA Ratio',
        'Operating Income',
        'Operating Income Ratio',
        'Total Other Income Expenses (Net)',
        'Income Before Tax',
        'Income Before Tax Ratio',
        'Income Tax Expense',
        'Net Income',
        'Net Income Ratio',
        'EPS',
        'EPS Diluted',
        'Weighted Average Shares Outstanding',
        'Weighted Average Shares Outstanding (Diluted)',
        'SEC Filing','Date & Time Filing Accepted']

    df_bs = df_bs[cols]

    df_bs_pct_chg = df_bs
    pct_chg_cols = (df_bs.select_dtypes(include=['number']).pct_change(-1))
    df_bs_str = df_bs_pct_chg.drop(list(pct_chg_cols), axis=1)
    df_bs_pct_chg = df_bs_str.join(pct_chg_cols)[list(df_bs)]

    pd.set_option('display.float_format', '{:.2f}'.format)
    df_bs_pct_chg_t = df_bs_pct_chg.transpose()
    df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
    df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]

    df_bs_pct_chg_t = df_bs_pct_chg.transpose()
    df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
    df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]
    df_bs_pct_chg_t['']=df_bs_pct_chg_t.index
    df_bs_pct_chg_t.index = range(len(df_bs_pct_chg_t))

    cols = list(df_bs_pct_chg_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_pct_chg_t = df_bs_pct_chg_t[cols]


    df_bs_t = df_bs.transpose()
    df_bs_t.columns = list(df_bs['Quarter & Year'])
    df_bs_t = df_bs_t.iloc[1:]
    df_bs_t['']=df_bs_t.index
    df_bs_t.index = range(len(df_bs_t))

    cols = list(df_bs_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_t = df_bs_t[cols]
    #endregion

    df_pct = df_bs_pct_chg_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable1"')# dt-responsive" id="df_myTable"')

    df_bs_t = df_bs_t[df_bs_t.columns[::-1]]
    cols = list(df_bs_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_t = df_bs_t[cols]
    # df_html = df_bs_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable2"')# dt-responsive" id="df_myTable"')

    df_bs_n = df_bs[df_bs.applymap(isnumber)]
    df_bs_n[df_bs_n < 2] = np.nan
    # pd.DataFrame(df_bs_n.sum())#axis=0))
    df_bs_n_sum = pd.DataFrame(df_bs_n.sum())
    df_bs_n_sum[df_bs_n_sum == 0] = ""
    new_header = df_bs_n_sum.iloc[0] #grab the first row for the header
    df_bs_n_sum = df_bs_n_sum[1:] #take the data less the header row
    df_bs_n_sum.columns = new_header #set the header row as the df header
    df_bs_n_sum.index = range(len(df_bs_n_sum))
    df_bs_t = pd.merge(df_bs_n_sum, df_bs_t, left_index=True, right_index=True,suffixes=('Total: {} - {}'.format(latest_year,earliest_year), 'Line Items'))
    df_bs_t = df_bs_t[0:25]

    col_list = []
    n=0
    while n<len(list(df_bs_t))-0:
        if n<6:
                col_item = '<col id="col_item_{}" class="col_item_class first_7_col">'.format(n)
        else:
            col_item = '<col id="col_item_{}" class="col_item_class">'.format(n)
        col_list.append(col_item)
        n+=1
    col_list_str = ''.join(map(str, col_list))
    df_html = df_bs_t.to_html().replace('border="1" class="dataframe">','class="df_tableBoot" id="df_myTable" border="1" class="dataframe"><colgroup>{}</colgroup>'.format(col_list_str))


    df_html = df_html.replace('<td>','<td class="td_fin_statement_class fin_statement_class">')
    df_html = df_html.replace('<th>','<th class="th_fin_statement_class fin_statement_class">')
    df_html = df_html.replace('<tr>','<tr class="tr_fin_statement_class fin_statement_class">')

    df_html=df_html[0:]
    df = df[['date','revenue']].dropna() #.fillna(0)#.fillna(method='bfill')

    df['date'] = pd.to_datetime(df['date']).values.astype(np.int64) // 10 ** 6
    
    df_table = [df_html]
    df_table_pct = [df_pct]
    df_numpy = df.to_numpy().tolist()
    chart_x_dates =  df['date'].to_list()
    chart_y_revenue = df['revenue'].to_list()
    df_titles = df.columns.values
    
    values = list(df['revenue'])#[0:19]
    return(df_table,df_table_pct, chart_x_dates,chart_y_revenue,df_numpy,df_titles)

In [5]:
def income_statement(symbol):
    pd.set_option('display.float_format', '{:.2f}'.format)
    csv_file = glob.glob("../data/Historical Financial Statements\*\year\Income Statement\*_{}_*".format(symbol))[-1] #.format("NLOK"))[-1]
    df = pd.read_csv(csv_file)
    # df = df[df['date'].notna()]#fillna(method='ffill')
    df = df[0:].iloc[::-1]#.dropna()
    df_bs = df
    #region Pandas data manipulation
    df_bs['Quarter & Year'] = df_bs['period']+" "+(df_bs['date'].astype(str).str[0:4])#((df_bs['date'].astype(str).str[0:4].astype(int))-1).astype(str)

    latest_year = list((df_bs['date'].astype(str).str[0:4]))[0]
    earliest_year = list((df_bs['date'].astype(str).str[0:4]))[-1]

    df_bs = df_bs.drop([ 'Unnamed: 0','date',
        'symbol',
        'fillingDate','period','link'],axis=1)

    df_bs.columns = [
        'Date & Time Filing Accepted',
        'Revenue (Sales)',
        'Cost of Revenue (Sales)',
        'Gross Profit (Income)',
        'Gross Profit (Income) Ratio',
        'Research and Development (R&D) Expenses',
        'Sales, General and Administrative (SG&A) Expenses',
        'Selling and Marketing (S&M) Expenses',
        'Other Expenses',
        'Operating Expenses',
        'Cost and Expenses',
        'Interest Expense',
        'Depreciation and Amortization (D&A)',
        'EBITDA',
        'EBITDA Ratio',
        'Operating Income',
        'Operating Income Ratio',
        'Total Other Income Expenses (Net)',
        'Income Before Tax',
        'Income Before Tax Ratio',
        'Income Tax Expense',
        'Net Income',
        'Net Income Ratio',
        'EPS',
        'EPS Diluted',
        'Weighted Average Shares Outstanding',
        'Weighted Average Shares Outstanding (Diluted)',
        'SEC Filing', 'Quarter & Year'
                    ]
    # for col in df_bs.columns:
    #     if len(df_bs[col].unique()) == 1:
    #         df_bs.drop(col,inplace=True,axis=1)

    cols = [ 'Quarter & Year', 'Revenue (Sales)',
        'Cost of Revenue (Sales)',
        'Gross Profit (Income)',
        'Gross Profit (Income) Ratio',
        'Research and Development (R&D) Expenses',
        'Sales, General and Administrative (SG&A) Expenses',
        'Other Expenses',
        'Operating Expenses',
        'Cost and Expenses',
        'Interest Expense',
        'Depreciation and Amortization (D&A)',
        'EBITDA',
        'EBITDA Ratio',
        'Operating Income',
        'Operating Income Ratio',
        'Total Other Income Expenses (Net)',
        'Income Before Tax',
        'Income Before Tax Ratio',
        'Income Tax Expense',
        'Net Income',
        'Net Income Ratio',
        'EPS',
        'EPS Diluted',
        'Weighted Average Shares Outstanding',
        'Weighted Average Shares Outstanding (Diluted)',
        'SEC Filing','Date & Time Filing Accepted']

    df_bs = df_bs[cols]
    return(df_bs)

In [6]:
def df_table_pct(symbol):
    df_bs_pct_chg = df_bs
    pct_chg_cols = (df_bs.select_dtypes(include=['number']).pct_change(-1))
    df_bs_str = df_bs_pct_chg.drop(list(pct_chg_cols), axis=1)
    df_bs_pct_chg = df_bs_str.join(pct_chg_cols)[list(df_bs)]

    pd.set_option('display.float_format', '{:.2f}'.format)
    df_bs_pct_chg_t = df_bs_pct_chg.transpose()
    df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
    df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]

    df_bs_pct_chg_t = df_bs_pct_chg.transpose()
    df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
    df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]
    df_bs_pct_chg_t['']=df_bs_pct_chg_t.index
    df_bs_pct_chg_t.index = range(len(df_bs_pct_chg_t))

    cols = list(df_bs_pct_chg_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_pct_chg_t = df_bs_pct_chg_t[cols]


    df_bs_t = df_bs.transpose()
    df_bs_t.columns = list(df_bs['Quarter & Year'])
    df_bs_t = df_bs_t.iloc[1:]
    df_bs_t['']=df_bs_t.index
    df_bs_t.index = range(len(df_bs_t))

    cols = list(df_bs_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_t = df_bs_t[cols]
    #endregion

    df_pct = df_bs_pct_chg_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable1"')# dt-responsive" id="df_myTable"')

    df_bs_t = df_bs_t[df_bs_t.columns[::-1]]
    cols = list(df_bs_t.columns)
    cols = [cols[-1]] + cols[:-1]
    df_bs_t = df_bs_t[cols]
    # df_html = df_bs_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable2"')# dt-responsive" id="df_myTable"')

    df_bs_n = df_bs[df_bs.applymap(isnumber)]
    df_bs_n[df_bs_n < 2] = np.nan
    # pd.DataFrame(df_bs_n.sum())#axis=0))
    df_bs_n_sum = pd.DataFrame(df_bs_n.sum())
    df_bs_n_sum[df_bs_n_sum == 0] = ""
    new_header = df_bs_n_sum.iloc[0] #grab the first row for the header
    df_bs_n_sum = df_bs_n_sum[1:] #take the data less the header row
    df_bs_n_sum.columns = new_header #set the header row as the df header
    df_bs_n_sum.index = range(len(df_bs_n_sum))
    df_bs_t = pd.merge(df_bs_n_sum, df_bs_t, left_index=True, right_index=True,suffixes=('Total: {} - {}'.format(latest_year,earliest_year), 'Line Items'))
    df_bs_t = df_bs_t[0:25]

    col_list = []
    n=0
    while n<len(list(df_bs_t))-0:
        if n<6:
                col_item = '<col id="col_item_{}" class="col_item_class first_7_col">'.format(n)
        else:
            col_item = '<col id="col_item_{}" class="col_item_class">'.format(n)
        col_list.append(col_item)
        n+=1
    col_list_str = ''.join(map(str, col_list))
    df_html = df_bs_t.to_html().replace('border="1" class="dataframe">','class="df_tableBoot" id="df_myTable" border="1" class="dataframe"><colgroup>{}</colgroup>'.format(col_list_str))


    df_html = df_html.replace('<td>','<td class="td_fin_statement_class fin_statement_class">')
    df_html = df_html.replace('<th>','<th class="th_fin_statement_class fin_statement_class">')
    df_html = df_html.replace('<tr>','<tr class="tr_fin_statement_class fin_statement_class">')

    df_html=df_html[0:]
    df = df[['date','revenue']].dropna() #.fillna(0)#.fillna(method='bfill')

    df['date'] = pd.to_datetime(df['date']).values.astype(np.int64) // 10 ** 6
    
    df_table = [df_html]
    df_table_pct = [df_pct]
    df_numpy = df.to_numpy().tolist()
    chart_x_dates =  df['date'].to_list()
    chart_y_revenue = df['revenue'].to_list()
    df_titles = df.columns.values
    
    values = list(df['revenue'])#[0:19]
    return(df_table,df_table_pct, chart_x_dates,chart_y_revenue,df_numpy,df_titles)

,Quarter & Year,Revenue (Sales),Cost of Revenue (Sales),Gross Profit (Income),Gross Profit (Income) Ratio,Research and Development (R&D) Expenses,"Sales, General and Administrative (SG&A) Expenses",Other Expenses,Operating Expenses,Cost and Expenses,...,Income Before Tax Ratio,Income Tax Expense,Net Income,Net Income Ratio,EPS,EPS Diluted,Weighted Average Shares Outstanding,Weighted Average Shares Outstanding (Diluted),SEC Filing,Date & Time Filing Accepted
36,FY 1983,983000000,506000000,477000000,0.49,60000000,287000000,0.00,347000000,853000000,...,0.15,69000000.00,77000000,0.08,0.02,0.02,3353000000,3353000000,NaN,NaN
35,FY 1984,1516000000,879000000,637000000,0.42,71000000,480000000,0.00,551000000,1430000000,...,0.07,45000000.00,64000000,0.04,0.02,0.02,3410000000,3410000000,NaN,NaN
34,FY 1985,1918000000,1118000000,800000000,0.42,73000000,588000000,0.00,698000000,1816000000,...,0.06,59000000.00,61000000,0.03,0.02,0.02,3466000000,3466000000,NaN,NaN
33,FY 1986,1902000000,891000000,1011000000,0.53,128000000,609000000,0.00,737000000,1628000000,...,0.16,156000000.00,154000000,0.08,0.04,0.04,3602000000,3602000000,NaN,NaN
32,FY 1987,2661000000,1296000000,1365000000,0.51,192000000,802000000,0.00,994000000,2290000000,...,0.15,193000000.00,217000000,0.08,0.06,0.06,3685000000,3685000000,NaN,NaN
31,FY 1988,4071000000,1991000000,2080000000,0.51,273000000,1188000000,0.00,1460000000,3451000000,...,0.16,256000000.00,400000000,0.10,0.11,0.11,3637000000,3637000000,NaN,NaN
30,FY 1989,5284000000,2695000000,2589000000,0.49,420000000,1535000000,0.00,1955000000,4650000000,...,0.14,290000000.00,454000000,0.09,0.13,0.13,3603000000,3603000000,NaN,NaN
29,FY 1990,5558000000,2606000000,2952000000,0.53,478000000,1729000000,0.00,2240000000,4846000000,...,0.14,304000000.00,475000000,0.09,0.14,0.14,3523000000,3523000000,NaN,NaN
28,FY 1991,6309000000,3314000000,2995000000,0.47,583000000,1740000000,0.00,2548000000,5862000000,...,0.08,190000000.00,310000000,0.05,0.13,0.13,3368000000,3368000000,NaN,NaN
27,FY 1992,7087000000,3991000000,3095000000,0.44,602000000,1687000000,0.00,2290000000,6281000000,...,0.12,325000000.00,530000000,0.07,0.15,0.15,3430000000,3430000000,NaN,NaN
26,FY 1993,7977000000,5249000000,2728000000,0.34,665000000,1632000000,0.00,2618000000,7867000000,...,0.02,53000000.00,87000000,0.01,0.09,0.09,3340000000,3340000000,NaN,NaN
25,FY 1994,9189000000,6845000000,2344000000,0.26,564000000,1384000000,0.00,1821000000,8666000000,...,0.05,190000000.00,310000000,0.03,0.07,0.07,3325000000,3325000000,https://www.sec.gov/Archives/edgar/data/320193...,1994-12-13 00:00:00
24,FY 1995,11062000000,8204000000,2858000000,0.26,614000000,1583000000,0.00,2174000000,10378000000,...,0.06,250000000.00,424000000,0.04,0.12,0.12,3445000000,3445000000,https://www.sec.gov/Archives/edgar/data/320193...,1995-12-19 00:00:00
23,FY 1996,9833000000,8865000000,968000000,0.10,604000000,1568000000,0.00,2351000000,11216000000,...,-0.13,-479000000.00,-816000000,-0.08,-0.20,-0.20,3465000000,3465000000,https://www.sec.gov/Archives/edgar/data/320193...,1996-12-19 00:00:00
22,FY 1997,7081000000,5713000000,1368000000,0.19,485000000,1286000000,0.00,2438000000,8151000000,...,-0.15,0.00,-1045000000,-0.15,-0.11,-0.11,3530000000,3530000000,https://www.sec.gov/Archives/edgar/data/320193...,1997-12-05 00:00:00
21,FY 1998,5941000000,4462000000,1479000000,0.25,303000000,908000000,0.00,1218000000,5680000000,...,0.06,20000000.00,309000000,0.05,0.08,0.08,4702000000,4702000000,NaN,NaN
20,FY 1999,6134000000,4438000000,1696000000,0.28,314000000,996000000,0.00,1337000000,5775000000,...,0.11,75000000.00,601000000,0.10,0.14,0.14,4877000000,4877000000,https://www.sec.gov/Archives/edgar/data/320193...,1999-12-22 00:00:00
19,FY 2000,7983000000,5817000000,2166000000,0.27,380000000,1256000000,0.00,1644000000,7461000000,...,0.14,306000000.00,786000000,0.10,0.16,0.16,5045000000,5045000000,https://www.sec.gov/Archives/edgar/data/320193...,2000-12-14 00:00:00
18,FY 2001,5363000000,4128000000,1235000000,0.23,430000000,1138000000,11000000.00,1579000000,5707000000,...,-0.01,-15000000.00,-25000000,-0.00,0.00,0.00,4839000000,4839000000,https://www.sec.gov/Archives/edgar/data/320193...,2001-12-21 00:00:00
17,FY 2002,5742000000,4139000000,1603000000,0.28,446000000,1109000000,29000000.00,1586000000,5725000000,...,0.02,22000000.00,65000000,0.01,0.02,0.02,5065000000,5065000000,https://www.sec.gov/Archives/edgar/data/320193...,2002-12-19 17:20:21
16,FY 2003,6207000000,4499000000,1708000000,0.28,471000000,1212000000,26000000.00,1709000000,6208000000,...,0.01,24000000.00,69000000,0.01,0.02,0.02,5089000000,5089000000,https://www.sec.gov/Archives/edgar/data/320193...,2003-12-19 17:25:45
15,FY 2004,8279000000,6020000000,2259000000,0.27,489000000,1421000000,23000000.00,1933000000,7953000000,...,0.05,107000000.00,276000000,0.03,0.05,0.05,5422000000,5422000000,https://www.sec.gov/Archives/edgar/data/320193...,2004-12-02 18:05:49
14,FY 2005,13931000000,9888000000,4043000000,0.29,534000000,1859000000,165000000.00,2393000000,12281000000,...,0.13,480000000.00,1335000000,0.10,0.22,0.22,5997000000,5997000000,https://www.sec.gov/Archives/edgar/data/320193...,2005-11-30 21:22:48
13,FY 2006,19315000000,13717000000,5598000000,0.29,712000000,2433000000,165000000.00,3145000000,16862000000,...,0.15,829000000.00,1989000000,0.10,0.32,0.32,6143000000,6143000000,https://www.sec.gov/Archives/edgar/data/320193...,2006-12-29 06:05:58
12,FY 2007,24006000000,15852000000,8154000000,0.34,782000000,2963000000,599000000.00,3745000000,19597000000,...,0.21,1512000000.00,3496000000,0.15,0.56,0.56,6225000000,6225000000,https://www.sec.gov/Archives/edgar/data/320193...,2007-11-15 16:49:37
11,FY 2008,32479000000,21334000000,11145000000,0.34,1109000000,3761000000,620000000.00,4870000000,26204000000,...,0.21,2061000000.00,4834000000,0.15,0.77,0.77,6315000000,6315000000,https://www.sec.gov/Archives/edgar/data/320193...,2008-11-05 06:16:23
10,FY 2009,42905000000,25683000000,17222000000,0.40,1333000000,4149000000,326000000.00,5482000000,31165000000,...,0.28,3831000000.00,8235000000,0.19,1.30,1.30,6349000000,6349000000,https://www.sec.gov/Archives/edgar/data/320193...,2009-10-27 16:18:29
9,FY 2010,65225000000,39541000000,25684000000,0.39,1782000000,5517000000,155000000.00,7299000000,46840000000,...,0.28,4527000000.00,14013000000,0.21,2.16,2.16,6473000000,6473000000,https://www.sec.gov/Archives/edgar/data/320193...,2010-10-27 16:36:21
8,FY 2011,108249000000,64431000000,43818000000,0.40,2429000000,7599000000,415000000.00,10028000000,74459000000,...,0.32,8283000000.00,25922000000,0.24,3.95,3.95,6557000000,6557000000,https://www.sec.gov/Archives/edgar/data/320193...,2011-10-26 16:35:25
7,FY 2012,156508000000,87846000000,68662000000,0.44,3381000000,10040000000,522000000.00,13421000000,101267000000,...,0.36,14030000000.00,41733000000,0.27,6.31,6.31,6617000000,6617000000,https://www.sec.gov/Archives/edgar/data/320193...,2012-10-31 17:07:19
6,FY 2013,170910000000,106606000000,64304000000,0.38,4475000000,10830000000,1156000000.00,15305000000,121911000000,...,0.29,13118000000.00,37037000000,0.22,5.68,5.68,6522000000,6522000000,https://www.sec.gov/Archives/edgar/data/320193...,2013-10-29 20:38:28
5,FY 2014,182795000000,112258000000,70537000000,0.39,6041000000,11993000000,980000000.00,18034000000,130292000000,...,0.29,13973000000.00,39510000000,0.22,6.45,6.45,6123000000,6123000000,https://www.sec.gov/Archives/edgar/data/320193...,2014-10-27 17:11:55
4,FY 2015,233715000000,140089000000,93626000000,0.40,8067000000,14329000000,1285000000.00,22396000000,162485000000,...,0.31,19121000000.00,53394000000,0.23,2.30,2.30,23172276000,23172276000,https://www.sec.gov/Archives/edgar/data/320193...,2015-10-28 16:31:09
3,FY 2016,215639000000,131376000000,84263000000,0.39,10045000000,14194000000,1348000000.00,24239000000,155615000000,...,0.28,15685000000.00,45687000000,0.21,2.08,2.08,22001124000,22001124000,https://www.sec.gov/Archives/edgar/data/320193...,2016-10-26 16:42:16
2,FY 2017,229234000000,141048000000,88186000000,0.38,11581000000,15261000000,2745000000.00,26842000000,167890000000,...,0.28,15738000000.00,48351000000,0.21,2.30,2.30,21006768000,21006768000,https://www.sec.gov/Archives/edgar/data/320193...,2017-11-03 08:01:37
1,FY 2018,265595000000,163756000000,101839000000,0.38,14236000000,16705000000,0.00,30941000000,194697000000,...,0.27,11872000000.00,59531000000,0.22,3.05,3.05,20000436000,20000436000,https://www.sec.gov/Archives/edgar/data/320193...,2018-11-05 08:01:40
0,FY 2019,260174000000,161782000000,98392000000,0.38,16217000000,18245000000,1807000000.00,34462000000,196244000000,...,0.25,10481000000.00,55256000000,0.21,2.97,2.97,18595652000,18595652000,https://www.sec.gov/Archives/edgar/data/320193...,2019-10-30 18:12:36

In [14]:
# chart_x,chart_y,)
# tables=df_table, table_pct = df_table_pct, df_date = chart_x_dates, df_rev = chart_y_revenue,
#      df_json = df_numpy,titles=df_titles)


# )

In [8]:
start_time = time.time()
csv_file = glob.glob("../data/Historical Financial Statements\*\year\Income Statement\*_{}_*".format("AAPL"))[-1] #.format("NLOK"))[-1]
df = pd.read_csv(csv_file)
# df = df[df['date'].notna()]#fillna(method='ffill')
df = df[0:].iloc[::-1]#.dropna()
df_bs = df

In [9]:
#region Pandas data manipulation
df_bs['Quarter & Year'] = df_bs['period']+" "+(df_bs['date'].astype(str).str[0:4])#((df_bs['date'].astype(str).str[0:4].astype(int))-1).astype(str)

latest_year = list((df_bs['date'].astype(str).str[0:4]))[0]
earliest_year = list((df_bs['date'].astype(str).str[0:4]))[-1]

df_bs = df_bs.drop([ 'Unnamed: 0','date',
    'symbol',
    'fillingDate','period','link'],axis=1)

df_bs.columns = [
    'Date & Time Filing Accepted',
    'Revenue (Sales)',
    'Cost of Revenue (Sales)',
    'Gross Profit (Income)',
    'Gross Profit (Income) Ratio',
    'Research and Development (R&D) Expenses',
    'Sales, General and Administrative (SG&A) Expenses',
    'Selling and Marketing (S&M) Expenses',
    'Other Expenses',
    'Operating Expenses',
    'Cost and Expenses',
    'Interest Expense',
    'Depreciation and Amortization (D&A)',
    'EBITDA',
    'EBITDA Ratio',
    'Operating Income',
    'Operating Income Ratio',
    'Total Other Income Expenses (Net)',
    'Income Before Tax',
    'Income Before Tax Ratio',
    'Income Tax Expense',
    'Net Income',
    'Net Income Ratio',
    'EPS',
    'EPS Diluted',
    'Weighted Average Shares Outstanding',
    'Weighted Average Shares Outstanding (Diluted)',
    'SEC Filing', 'Quarter & Year'
                ]
# for col in df_bs.columns:
#     if len(df_bs[col].unique()) == 1:
#         df_bs.drop(col,inplace=True,axis=1)

cols = [ 'Quarter & Year', 'Revenue (Sales)',
    'Cost of Revenue (Sales)',
    'Gross Profit (Income)',
    'Gross Profit (Income) Ratio',
    'Research and Development (R&D) Expenses',
    'Sales, General and Administrative (SG&A) Expenses',
    'Other Expenses',
    'Operating Expenses',
    'Cost and Expenses',
    'Interest Expense',
    'Depreciation and Amortization (D&A)',
    'EBITDA',
    'EBITDA Ratio',
    'Operating Income',
    'Operating Income Ratio',
    'Total Other Income Expenses (Net)',
    'Income Before Tax',
    'Income Before Tax Ratio',
    'Income Tax Expense',
    'Net Income',
    'Net Income Ratio',
    'EPS',
    'EPS Diluted',
    'Weighted Average Shares Outstanding',
    'Weighted Average Shares Outstanding (Diluted)',
    'SEC Filing','Date & Time Filing Accepted']

df_bs = df_bs[cols]

df_bs_pct_chg = df_bs
pct_chg_cols = (df_bs.select_dtypes(include=['number']).pct_change(-1))
df_bs_str = df_bs_pct_chg.drop(list(pct_chg_cols), axis=1)
df_bs_pct_chg = df_bs_str.join(pct_chg_cols)[list(df_bs)]

pd.set_option('display.float_format', '{:.2f}'.format)
df_bs_pct_chg_t = df_bs_pct_chg.transpose()
df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]

df_bs_pct_chg_t = df_bs_pct_chg.transpose()
df_bs_pct_chg_t.columns = list(df_bs_pct_chg['Quarter & Year'])
df_bs_pct_chg_t = df_bs_pct_chg_t.iloc[1:]
df_bs_pct_chg_t['']=df_bs_pct_chg_t.index
df_bs_pct_chg_t.index = range(len(df_bs_pct_chg_t))

cols = list(df_bs_pct_chg_t.columns)
cols = [cols[-1]] + cols[:-1]
df_bs_pct_chg_t = df_bs_pct_chg_t[cols]


df_bs_t = df_bs.transpose()
df_bs_t.columns = list(df_bs['Quarter & Year'])
df_bs_t = df_bs_t.iloc[1:]
df_bs_t['']=df_bs_t.index
df_bs_t.index = range(len(df_bs_t))

cols = list(df_bs_t.columns)
cols = [cols[-1]] + cols[:-1]
df_bs_t = df_bs_t[cols]
#endregion

df_pct = df_bs_pct_chg_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable1"')# dt-responsive" id="df_myTable"')

df_bs_t = df_bs_t[df_bs_t.columns[::-1]]
cols = list(df_bs_t.columns)
cols = [cols[-1]] + cols[:-1]
df_bs_t = df_bs_t[cols]
# df_html = df_bs_t.to_html().replace('<table','<table class="df_tableBoot" id="df_myTable2"')# dt-responsive" id="df_myTable"')



def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False
df_bs_n = df_bs[df_bs.applymap(isnumber)]
df_bs_n[df_bs_n < 2] = np.nan
# pd.DataFrame(df_bs_n.sum())#axis=0))
df_bs_n_sum = pd.DataFrame(df_bs_n.sum())
df_bs_n_sum[df_bs_n_sum == 0] = ""
new_header = df_bs_n_sum.iloc[0] #grab the first row for the header
df_bs_n_sum = df_bs_n_sum[1:] #take the data less the header row
df_bs_n_sum.columns = new_header #set the header row as the df header
df_bs_n_sum.index = range(len(df_bs_n_sum))
df_bs_t = pd.merge(df_bs_n_sum, df_bs_t, left_index=True, right_index=True,suffixes=('Total: {} - {}'.format(latest_year,earliest_year), 'Line Items'))
df_bs_t = df_bs_t[0:25]



col_list = []
n=0
while n<len(list(df_bs_t))-0:
    if n<6:
            col_item = '<col id="col_item_{}" class="col_item_class first_7_col">'.format(n)
    else:
        col_item = '<col id="col_item_{}" class="col_item_class">'.format(n)
    col_list.append(col_item)
    n+=1
col_list_str = ''.join(map(str, col_list))
df_html = df_bs_t.to_html().replace('border="1" class="dataframe">','class="df_tableBoot" id="df_myTable" border="1" class="dataframe"><colgroup>{}</colgroup>'.format(col_list_str))


df_html = df_html.replace('<td>','<td class="td_fin_statement_class fin_statement_class">')
df_html = df_html.replace('<th>','<th class="th_fin_statement_class fin_statement_class">')
df_html = df_html.replace('<tr>','<tr class="tr_fin_statement_class fin_statement_class">')

df_html=df_html[0:]
df = df[['date','revenue']].dropna() #.fillna(0)#.fillna(method='bfill')

df['date'] = pd.to_datetime(df['date']).values.astype(np.int64) // 10 ** 6

full_path = csv_file.split(' ~ ')

path = pathlib.PurePath(full_path[0])
# asset_ticker = path.name #full_path[0].split("/")
# asset_type = full_path[1]
# asset_name = full_path[-1]
print("Nothing took {} seconds".format(time.time() - start_time))
total_seconds = ((time.time() - start_time))

labels = [
    'JAN', 'FEB', 'MAR', 'APR',
    'MAY', 'JUN', 'JUL', 'AUG',
    'SEP', 'OCT', 'NOV', 'DEC'
]
labels = list(df['date'])#[0:19]

values = [
    967.67, 1190.89, 1079.75, 1349.19,
    2328.91, 2504.28, 2873.83, 4764.87,
    4349.29, 6458.30, 9907, 16297
]

values = list(df['revenue'])#[0:19]

colors = [
    "#F7464A", "#46BFBD", "#FDB45C", "#FEDCBA",
    "#ABCDEF", "#DDDDDD", "#ABCABC", "#4169E1",
    "#C71585", "#FF4500", "#FEDCBA", "#46BFBD"]


df_html

Nothing took 0.48903441429138184 seconds

class fin_statement_class">-15000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">306000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">75000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">20000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">0.00</td>\n      <td class="td_fin_statement_class fin_statement_class">-479000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">250000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">190000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">53000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">325000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">190000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">304000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">290000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">256000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">193000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">156000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">59000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">45000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">69000000.00</td>\n    </tr>\n    <tr class="tr_fin_statement_class fin_statement_class">\n      <th class="th_fin_statement_class fin_statement_class">19</th>\n      <td class="td_fin_statement_class fin_statement_class">445992000000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">Net Income</td>\n      <td class="td_fin_statement_class fin_statement_class">55256000000</td>\n      <td class="td_fin_statement_class fin_statement_class">59531000000</td>\n      <td class="td_fin_statement_class fin_statement_class">48351000000</td>\n      <td class="td_fin_statement_class fin_statement_class">45687000000</td>\n      <td class="td_fin_statement_class fin_statement_class">53394000000</td>\n      <td class="td_fin_statement_class fin_statement_class">39510000000</td>\n      <td class="td_fin_statement_class fin_statement_class">37037000000</td>\n      <td class="td_fin_statement_class fin_statement_class">41733000000</td>\n      <td class="td_fin_statement_class fin_statement_class">25922000000</td>\n      <td class="td_fin_statement_class fin_statement_class">14013000000</td>\n      <td class="td_fin_statement_class fin_statement_class">8235000000</td>\n      <td class="td_fin_statement_class fin_statement_class">4834000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3496000000</td>\n      <td class="td_fin_statement_class fin_statement_class">1989000000</td>\n      <td class="td_fin_statement_class fin_statement_class">1335000000</td>\n      <td class="td_fin_statement_class fin_statement_class">276000000</td>\n      <td class="td_fin_statement_class fin_statement_class">69000000</td>\n      <td class="td_fin_statement_class fin_statement_class">65000000</td>\n      <td class="td_fin_statement_class fin_statement_class">-25000000</td>\n      <td class="td_fin_statement_class fin_statement_class">786000000</td>\n      <td class="td_fin_statement_class fin_statement_class">601000000</td>\n      <td class="td_fin_statement_class fin_statement_class">309000000</td>\n      <td class="td_fin_statement_class fin_statement_class">-1045000000</td>\n      <td class="td_fin_statement_class fin_statement_class">-816000000</td>\n      <td class="td_fin_statement_class fin_statement_class">424000000</td>\n      <td class="td_fin_statement_class fin_statement_class">310000000</td>\n      <td class="td_fin_statement_class fin_statement_class">87000000</td>\n      <td class="td_fin_statement_class fin_statement_class">530000000</td>\n      <td class="td_fin_statement_class fin_statement_class">310000000</td>\n      <td class="td_fin_statement_class fin_statement_class">475000000</td>\n      <td class="td_fin_statement_class fin_statement_class">454000000</td>\n      <td class="td_fin_statement_class fin_statement_class">400000000</td>\n      <td class="td_fin_statement_class fin_statement_class">217000000</td>\n      <td class="td_fin_statement_class fin_statement_class">154000000</td>\n      <td class="td_fin_statement_class fin_statement_class">61000000</td>\n      <td class="td_fin_statement_class fin_statement_class">64000000</td>\n      <td class="td_fin_statement_class fin_statement_class">77000000</td>\n    </tr>\n    <tr class="tr_fin_statement_class fin_statement_class">\n      <th class="th_fin_statement_class fin_statement_class">20</th>\n      <td class="td_fin_statement_class fin_statement_class"></td>\n      <td class="td_fin_statement_class fin_statement_class">Net Income Ratio</td>\n      <td class="td_fin_statement_class fin_statement_class">0.21</td>\n      <td class="td_fin_statement_class fin_statement_class">0.22</td>\n      <td class="td_fin_statement_class fin_statement_class">0.21</td>\n      <td class="td_fin_statement_class fin_statement_class">0.21</td>\n      <td class="td_fin_statement_class fin_statement_class">0.23</td>\n      <td class="td_fin_statement_class fin_statement_class">0.22</td>\n      <td class="td_fin_statement_class fin_statement_class">0.22</td>\n      <td class="td_fin_statement_class fin_statement_class">0.27</td>\n      <td class="td_fin_statement_class fin_statement_class">0.24</td>\n      <td class="td_fin_statement_class fin_statement_class">0.21</td>\n      <td class="td_fin_statement_class fin_statement_class">0.19</td>\n      <td class="td_fin_statement_class fin_statement_class">0.15</td>\n      <td class="td_fin_statement_class fin_statement_class">0.15</td>\n      <td class="td_fin_statement_class fin_statement_class">0.10</td>\n      <td class="td_fin_statement_class fin_statement_class">0.10</td>\n      <td class="td_fin_statement_class fin_statement_class">0.03</td>\n      <td class="td_fin_statement_class fin_statement_class">0.01</td>\n      <td class="td_fin_statement_class fin_statement_class">0.01</td>\n      <td class="td_fin_statement_class fin_statement_class">-0.00</td>\n      <td class="td_fin_statement_class fin_statement_class">0.10</td>\n      <td class="td_fin_statement_class fin_statement_class">0.10</td>\n      <td class="td_fin_statement_class fin_statement_class">0.05</td>\n      <td class="td_fin_statement_class fin_statement_class">-0.15</td>\n      <td class="td_fin_statement_class fin_statement_class">-0.08</td>\n      <td class="td_fin_statement_class fin_statement_class">0.04</td>\n      <td class="td_fin_statement_class fin_statement_class">0.03</td>\n      <td class="td_fin_statement_class fin_statement_class">0.01</td>\n      <td class="td_fin_statement_class fin_statement_class">0.07</td>\n      <td class="td_fin_statement_class fin_statement_class">0.05</td>\n      <td class="td_fin_statement_class fin_statement_class">0.09</td>\n      <td class="td_fin_statement_class fin_statement_class">0.09</td>\n      <td class="td_fin_statement_class fin_statement_class">0.10</td>\n      <td class="td_fin_statement_class fin_statement_class">0.08</td>\n      <td class="td_fin_statement_class fin_statement_class">0.08</td>\n      <td class="td_fin_statement_class fin_statement_class">0.03</td>\n      <td class="td_fin_statement_class fin_statement_class">0.04</td>\n      <td class="td_fin_statement_class fin_statement_class">0.08</td>\n    </tr>\n    <tr class="tr_fin_statement_class fin_statement_class">\n      <th class="th_fin_statement_class fin_statement_class">21</th>\n      <td class="td_fin_statement_class fin_statement_class">37.26</td>\n      <td class="td_fin_statement_class fin_statement_class">EPS</td>\n      <td class="td_fin_statement_class fin_statement_class">2.97</td>\n      <td class="td_fin_statement_class fin_statement_class">3.05</td>\n      <td class="td_fin_statement_class fin_statement_class">2.30</td>\n      <td class="td_fin_statement_class fin_statement_class">2.08</td>\n      <td class="td_fin_statement_class fin_statement_class">2.30</td>\n      <td class="td_fin_statement_class fin_statement_class">6.45</td>\n      <td class="td_fin_statement_class fin_statement_class">5.68</td>\n      <td class="td_fin_statement_class fin_statement_class">6.31</td>\n      <td class="td_fin_statement_class fin_statement_class">3.95</td>\n      <td class="td_fin_statement_class fin_statement_class">2.16</td>\n      <td class="td_fin_statement_class fin_statement_class">1.30</td>\n      <td class="td_fin_statement_class fin_statement_class">0.77</td>\n      <td class="td_fin_statement_class fin_statement_class">0.56</td>\n      <td class="td_fin_statement_class fin_statement_class">0.32</td>\n      <td class="td_fin_statement_class fin_statement_class">0.22</td>\n      <td class="td_fin_statement_class fin_statement_class">0.05</td>\n      <td class="td_fin_statement_class fin_statement_class">0.02</td>\n      <td class="td_fin_statement_class fin_statement_class">0.02</td>\n      <td class="td_fin_statement_class fin_statement_class">0.00</td>\n      <td class="td_fin_statement_class fin_statement_class">0.16</td>\n      <td class="td_fin_statement_class fin_statement_class">0.14</td>\n      <td class="td_fin_statement_class fin_statement_class">0.08</td>\n      <td class="td_fin_statement_class fin_statement_class">-0.11</td>\n      <td class="td_fin_statement_class fin_statement_class">-0.20</td>\n      <td class="td_fin_statement_class fin_statement_class">0.12</td>\n      <td class="td_fin_statement_class fin_statement_class">0.07</td>\n      <td class="td_fin_statement_class fin_statement_class">0.09</td>\n      <td class="td_fin_statement_class fin_statement_class">0.15</td>\n      <td class="td_fin_statement_class fin_statement_class">0.13</td>\n      <td class="td_fin_statement_class fin_statement_class">0.14</td>\n      <td class="td_fin_statement_class fin_statement_class">0.13</td>\n      <td class="td_fin_statement_class fin_statement_class">0.11</td>\n      <td class="td_fin_statement_class fin_statement_class">0.06</td>\n      <td class="td_fin_statement_class fin_statement_class">0.04</td>\n      <td class="td_fin_statement_class fin_statement_class">0.02</td>\n      <td class="td_fin_statement_class fin_statement_class">0.02</td>\n      <td class="td_fin_statement_class fin_statement_class">0.02</td>\n    </tr>\n    <tr class="tr_fin_statement_class fin_statement_class">\n      <th class="th_fin_statement_class fin_statement_class">22</th>\n      <td class="td_fin_statement_class fin_statement_class">37.26</td>\n      <td class="td_fin_statement_class fin_statement_class">EPS Diluted</td>\n      <td class="td_fin_statement_class fin_statement_class">2.97</td>\n      <td class="td_fin_statement_class fin_statement_class">3.05</td>\n      <td class="td_fin_statement_class fin_statement_class">2.30</td>\n      <td class="td_fin_statement_class fin_statement_class">2.08</td>\n      <td class="td_fin_statement_class fin_statement_class">2.30</td>\n      <td class="td_fin_statement_class fin_statement_class">6.45</td>\n      <td class="td_fin_statement_class fin_statement_class">5.68</td>\n      <td class="td_fin_statement_class fin_statement_class">6.31</td>\n      <td class="td_fin_statement_class fin_statement_class">3.95</td>\n      <td class="td_fin_statement_class fin_statement_class">2.16</td>\n      <td class="td_fin_statement_class fin_statement_class">1.30</td>\n      <td class="td_fin_statement_class fin_statement_class">0.77</td>\n      <td class="td_fin_statement_class fin_statement_class">0.56</td>\n      <td class="td_fin_statement_class fin_statement_class">0.32</td>\n      <td class="td_fin_statement_class fin_statement_class">0.22</td>\n      <td class="td_fin_statement_class fin_statement_class">0.05</td>\n      <td class="td_fin_statement_class fin_statement_class">0.02</td>\n      <td class="td_fin_statement_class fin_statement_class">0.02</td>\n      <td class="td_fin_statement_class fin_statement_class">0.00</td>\n      <td class="td_fin_statement_class fin_statement_class">0.16</td>\n      <td class="td_fin_statement_class fin_statement_class">0.14</td>\n      <td class="td_fin_statement_class fin_statement_class">0.08</td>\n      <td class="td_fin_statement_class fin_statement_class">-0.11</td>\n      <td class="td_fin_statement_class fin_statement_class">-0.20</td>\n      <td class="td_fin_statement_class fin_statement_class">0.12</td>\n      <td class="td_fin_statement_class fin_statement_class">0.07</td>\n      <td class="td_fin_statement_class fin_statement_class">0.09</td>\n      <td class="td_fin_statement_class fin_statement_class">0.15</td>\n      <td class="td_fin_statement_class fin_statement_class">0.13</td>\n      <td class="td_fin_statement_class fin_statement_class">0.14</td>\n      <td class="td_fin_statement_class fin_statement_class">0.13</td>\n      <td class="td_fin_statement_class fin_statement_class">0.11</td>\n      <td class="td_fin_statement_class fin_statement_class">0.06</td>\n      <td class="td_fin_statement_class fin_statement_class">0.04</td>\n      <td class="td_fin_statement_class fin_statement_class">0.02</td>\n      <td class="td_fin_statement_class fin_statement_class">0.02</td>\n      <td class="td_fin_statement_class fin_statement_class">0.02</td>\n    </tr>\n    <tr class="tr_fin_statement_class fin_statement_class">\n      <th class="th_fin_statement_class fin_statement_class">23</th>\n      <td class="td_fin_statement_class fin_statement_class">255318256000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">Weighted Average Shares Outstanding</td>\n      <td class="td_fin_statement_class fin_statement_class">18595652000</td>\n      <td class="td_fin_statement_class fin_statement_class">20000436000</td>\n      <td class="td_fin_statement_class fin_statement_class">21006768000</td>\n      <td class="td_fin_statement_class fin_statement_class">22001124000</td>\n      <td class="td_fin_statement_class fin_statement_class">23172276000</td>\n      <td class="td_fin_statement_class fin_statement_class">6123000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6522000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6617000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6557000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6473000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6349000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6315000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6225000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6143000000</td>\n      <td class="td_fin_statement_class fin_statement_class">5997000000</td>\n      <td class="td_fin_statement_class fin_statement_class">5422000000</td>\n      <td class="td_fin_statement_class fin_statement_class">5089000000</td>\n      <td class="td_fin_statement_class fin_statement_class">5065000000</td>\n      <td class="td_fin_statement_class fin_statement_class">4839000000</td>\n      <td class="td_fin_statement_class fin_statement_class">5045000000</td>\n      <td class="td_fin_statement_class fin_statement_class">4877000000</td>\n      <td class="td_fin_statement_class fin_statement_class">4702000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3530000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3465000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3445000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3325000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3340000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3430000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3368000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3523000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3603000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3637000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3685000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3602000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3466000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3410000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3353000000</td>\n    </tr>\n    <tr class="tr_fin_statement_class fin_statement_class">\n      <th class="th_fin_statement_class fin_statement_class">24</th>\n      <td class="td_fin_statement_class fin_statement_class">255318256000.00</td>\n      <td class="td_fin_statement_class fin_statement_class">Weighted Average Shares Outstanding (Diluted)</td>\n      <td class="td_fin_statement_class fin_statement_class">18595652000</td>\n      <td class="td_fin_statement_class fin_statement_class">20000436000</td>\n      <td class="td_fin_statement_class fin_statement_class">21006768000</td>\n      <td class="td_fin_statement_class fin_statement_class">22001124000</td>\n      <td class="td_fin_statement_class fin_statement_class">23172276000</td>\n      <td class="td_fin_statement_class fin_statement_class">6123000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6522000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6617000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6557000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6473000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6349000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6315000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6225000000</td>\n      <td class="td_fin_statement_class fin_statement_class">6143000000</td>\n      <td class="td_fin_statement_class fin_statement_class">5997000000</td>\n      <td class="td_fin_statement_class fin_statement_class">5422000000</td>\n      <td class="td_fin_statement_class fin_statement_class">5089000000</td>\n      <td class="td_fin_statement_class fin_statement_class">5065000000</td>\n      <td class="td_fin_statement_class fin_statement_class">4839000000</td>\n      <td class="td_fin_statement_class fin_statement_class">5045000000</td>\n      <td class="td_fin_statement_class fin_statement_class">4877000000</td>\n      <td class="td_fin_statement_class fin_statement_class">4702000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3530000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3465000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3445000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3325000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3340000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3430000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3368000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3523000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3603000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3637000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3685000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3602000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3466000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3410000000</td>\n      <td class="td_fin_statement_class fin_statement_class">3353000000</td>\n    </tr>\n  </tbody>\n</table>'